<div  ng-if="application.isNew">
    <div>
        <h3>Application Name: </h3>
        <input ng-model="application.name"
               type="text"
               placeholder="Application Name"
               class="form-control"/>
    </div>
    <hr>
    <div class="pull-right">
        <button ng-click="registerApplication()"
                class="btn btn-primary"style="width:175px;">Register Application</button>
        <button ng-click="applicationSelected({isNew:true})"
                class="btn btn-default"
                style="margin-left:10px; width:175px;">Cancel</button>
    </div>
</div>
<div  ng-if="!application.isNew">
    <h3>Application Name: </h3><h4>{{application.name}}</h4>
    <h3>Application Id: </h3><h4>{{application.id}}</h4>
    <h3>Registered Users: </h3>
    <h4 ng-repeat="user in application.xmppUsers">{{user.username}}</h4>
    <h3>Register New User</h3>
    <div class="input-group">
        <input ng-model="newUser.username"
               type="text"
               placeholder="Username"
               class="form-control"/>
                            <span class="input-group-btn">
                                <button ng-click="registerUser()"
                                        class="btn btn-primary">Register User</button>
                            </span>
    </div>
</div>